@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
	border : 1px solid black;
	font-size : 16px;
}
#social_b {
	width: 50px;
	height: 50px;
}
/*check*/
table {
	margin : 0 auto;
}

td {
	font-size : 20px;
	height : 50px;
}

th {
	text-align : center;
}

#question {
	width : 8.333%;
}

#contents {
	width : 50%;
}

#never {
	width : 8.333%;
}

#almost {
	width : 8.333%;
}

#sometimes {
	width : 8.333%;
}

#often {
	width : 8.333%;
}

#extremely {
	width : 8.333%;
}
/*check*/