@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
	border : 1px solid black;
}

/*header*/
#social_b {
	width: 50px;
	height: 50px;
}

#h_main > div{
	display : inline-block;
}

#h_logo {
	width : 16.666%;
	height : 100px;
	position : absolute;
}

#h_title {
	width : 50%;
	height : 100px;
	line-height: 100px;
	font-size : 36px;
	text-align : center;
	position : absolute;
	left : 25%;
}

#h_right {
	width : 33.333%;
	position : absolute;
	right : 0%;
}
#h_right > input, #h_right2 > input{
	float : right;
}

#h_right2 {
	width : 25%;
	position : absolute;
	right : 0%;
}

#h_nav {
	margin : 0 auto;
	text-align : center;
}

#h_nav > input {
	width : 24%;
	height : 50px;
}
/*header*/

/*main*/
#m_main {
	width : 100%;
}

#container {
	width : 83.333%;
	margin : 25px auto;
}

#m_image {
	width : 100%;
	height : 500px;
}

#m_image > img {
	width : 100%;
	height : 100%;
}

#m_share {
	width : 83.333%;
	margin : 25px auto;
}

#m_share > div{
	display : inline-block;
	width : 33%;
	font-size : 25px;
}

#m_share > div > a > p{
	text-align : center;
}

#m_share > div > a > img{
	width : 100%;
	height : 100px;
}

#m_point {
	width : 83.333%;
	height : 150px;
	margin : 25px auto;
}

#m_point > div {
	display : inline-block;
}

#m_p_img {
	width : 33%;
	height : 150px;
	float : left;
}

#m_p_img > img{
	width : 100%;
	height : 150px;
}

#m_p_trial {
	width : 66%;
	height : 150px;
	font-size : 16px;
}

#m_information {
	margin-top : 25px;
	display : grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#m_self {
	width : 83.333%;
	margin : 25px auto;
}

#m_selfimg {
	width : 100%;	
}
/*main*/

/*psychological*/
#p_main {
	width : 83.333%;
	margin : 0 auto;
}

#p_main > div {
	width : 100%;
	position : relative;
	margin-top : 25px;
}

#p_main > div > img {
	width : 16.666%;
	height : 200px;
}

#p_explanation {
	width : 64%;
	white-space : normal;
	position : absolute;
	left : 18%;
	font-size : 18px;
	margin-top : 2%;
}

#p_inspection{
	width : 16.666%;
	height : 200px;
	position : absolute;
	right : 0%;
}

#p_inspection > input {
	width : 100%;
	height : 100%
}

#p_main > div > div {
	display : inline-block;
}
/*psychological*/

/*record*/
#re_main {
	width : 83.333%;
	margin : 25px auto;
}

#re_list {
	width : 100%;
}

#re_num {
	width : 16.666%;
}

#re_type {
	width : 33.333%;
}

#re_grade {
	width : 33.333%;
}

#re_time {
	width : 16.666%;
}

#re_paging {
	font-size : 20px;
}
/*record*/

/*recorddetail*/
#mr_main {
	width : 83.333%;
	margin : 0 auto;
}

#re_detail_image, #re_detail_letter {
	font-size : 20px;
}

#re_detail_image {
	width : 100%;
}

#re_detail_image > img {
	width : 100%;
	height : 500px;
}

#re_detail_letter {
	width : 100%
}
/*recorddetail*/

/*board*/
#bo_paging {
	font-size : 20px;
	width : 25%;
	margin : 0 auto;
}

#ul_paging {
	width : 100%;
}
/*board*/

/*footer*/
#f_main {
	width : 83.333%;
	margin : 0 auto;
	height : 150px;
	position : relative;
}

#f_main > div{
	display : inline-block;
}

#f_logo{
	width : 16.666%;
	height : 150px;
	position : absolute;
}

#f_company {
	width : 41.666%;
	height : 150px;
	font-size : 16px;
	position : absolute;
	left : 33.333%;
}

#f_team {
	width : 25%;
	position : absolute;
	right : 0%;
}

/*footer*/